@font-face {
	font-family: "Flappy Font";
	src: url('font/FB.ttf') format('truetype'),
		 url('font/FB.woff') format('woff')
}

* {
	padding: 0;
	margin: 0;
	font-family: "Flappy Font";
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 3.5px;
	-webkit-text-stroke-color: black;
}

.non-selectable {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

canvas {
	position: absolute;
	background-image: url('image/background.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

.game-over {
	z-index: 2;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%) scale(0); 
	transition: transform .2s;
	text-align: center;
}
.game-over {
	font-size: 60px;
}

.game-over p {
	font-size: 50px;
	-webkit-text-stroke-width: 3px;
}

.game-over > button {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	margin-top: 10px;
}

@media all and (max-device-width: 500px)
{
	canvas
	{
		width: 350px;
	}
}