@font-face {
	font-family: "Flappy Font";
	src: url('font/FlappyBirdy.ttf') format("truetype");
}

* {
	padding: 0;
	margin: 0;
}

body {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

canvas {
	position: absolute;
	background-image: url('image/background.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

.game-over {
	font-family: "Flappy Font";
	border-radius: 5px;
	padding: 20px;
	background-color: white;
	z-index: 2;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%) scale(0); 
	transition: transform .2s;
}

.game-over > h1 {
	font-size: 100px;
}

.game-over > p {
	font-size: 90px;
}

.game-over > p > .score{
	font-size: 60px;
	font-family: Verdana;
}

.game-over > button {
	cursor: pointer;
	font-size: 90px;
	font-family: "Flappy Font";
	border: none;
	outline: none;
	padding: 10px;
	background-color: tomato;
	border-radius: 5px;
}

@media all and (max-device-width: 500px)
{
	canvas
	{
		width: 350px;
	}
}